@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900&subset=latin-ext');
@font-face {
    font-family: 'BebasNeue';
    src: url('assets/BebasNeue-Regular.otf'),
         url('assets/BebasNeue-Regular.ttf') format('truetype');
}

/*global*/
* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: Lato, sans-serif;
}

h1 {
    font-size: 68px;
    font-family: BebasNeue;
    font-weight: normal;
}

h2{
    font-size: 58px;
    font-family: BebasNeue;
    font-weight: normal;
}

h3 {
    font-size: 48px;
    font-family: BebasNeue;
    font-weight: normal;
}

.pink {
    color: #EC2D6D;
}

.clearfix::after {
    display: block;
    content: '';
    clear: both;
}

/*right column*/
aside.right-col {
    position: fixed;
    top: 0;
    right: 0;
    width: 11%;
    height: 100vh;
    text-align: center;
    z-index: 100;
}

.logo {
    background: #272125;
    padding-top: 20px;
}

.logo img {
    display: block;
    max-width: 100%;
}

/*menu */
nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav ul li {
    display: block;
    padding: 20px 10px;
    position: relative;
    transition: all .3s;
}

nav ul li a {
    display: block;
    font-size: 14px;
    color: #272125;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    line-height: 17px;
    transition: all .3s;

}

nav ul li.active a {
    color: #EC2D6D;
    transition: all .3s;

}

nav ul li::before {
    width: 60px;
    height: 60px;
    border-radius: 45px;
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    transform: translateX(-50%);
    display: none;
    padding: 13px 15px 13px 16px;
    box-sizing: border-box;
}

nav ul li:nth-child(1)::before {
    content: url(assets/screen1/basketicon.svg);
    background: #1B509F;
}

nav ul li:nth-child(2)::before {
    content: url(assets/screen2/watch.svg);
    background: #E3DAD3;
}

nav ul li:nth-child(3)::before {
    content: url(assets/screen3/t-shirt.svg);
    background: #E694C0;
}

nav ul li.active::before {
    display: block;
}

.unactive {
    opacity: 0.2;
    cursor: auto;
}


/**/

.counter {
    padding: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: #272125;
    text-transform: uppercase;
}

.counter .number {
    font-family: BebasNeue;
    font-size: 100px;
    font-weight: normal;
    line-height: 90px;
}

.social-media {
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: Calc(100% - 40px);
    position: relative;
    left: 20px;
    border-top: 3px solid rgba(39, 33, 37, 0.5);
    border-bottom: 3px solid rgba(39, 33, 37, 0.5);
    padding: 10px 0;
}

.social-media li {
    display: inline-block;
    width: 21%;
}

.social-media a {
    display: block;
}

.social-media img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.pgs {
    font-size: 12px;
    color: #272125;
    font-weight: 700;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.pgs a {
    color: #EC2D6D;
    text-decoration: none;
}

/*1st screen - home*/
.screen {
    width: Calc(100% - 11%);
    height: 100vh;
    position: relative;
    z-index: 98;
}

.screen.s1 {
    background-image: url(assets/screen1/Bitmap.png);
    background-size: cover;
}

.message {
     text-transform: uppercase;
     position: absolute;
     top: 5.26%;
     left: 12.77%;
     text-align: center;
     line-height: 1;
}

.message img {
    width: 479px;
    height: 294px;
}

.message .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;;
}

.message h2 {
    color: #EC2D6D;
    margin:0 0 20px 0;
    position: relative;
    padding: 0;
    z-index: 99;
    left: -20px;
}

.message h2::after {
    position: absolute;
    content: "";
    background: #272125;
    width: 75%;
    z-index: -1;
    height: 87%;
    right: 17%;
    top: 10px;
}

.message .grey {
    color: #E3DAD3;
}

.message h1, .message h3 {
    margin: 0;
    padding: 0;
    color: #272125;
}

/* screen 2 */
.screen.s2 {
    background-color: #E3DAD3;
    z-index: 99;
}

.centered-rect {
    width: 50%;
    background-color: #fff;
    color: #272125;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #272125;
    padding: 20px 0;
    z-index: 7;
}

.centered-rect ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.centered-rect ul li {
    font-size: 20px;
    font-family: Lato;
    font-weight: 700;
    position: relative;
    line-height: 70px;
}

.centered-rect .event {
    padding: 0 30px;
}

.centered-rect .time {
    font-size: 30px;
    font-weight: normal;
    font-family: BebasNeue;
    right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 20px;
}

.centered-rect .bigger {
    font-size: 50px;
    transform: translateY(-50%) translateX(28%);
}

.line {
    position: absolute;
    width: 1px;
    background: #272125;
}

.line.l1 {
    height: 240px;
    top: 0;
    left: 11%;
}

.line.l2 {
    height: 500px;
    bottom: 0%;
    right: 11%;
    transform: translateY(40%);
    z-index: 99;
}

.player {
    background-image: url(assets/screen2/player.svg);
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    background-size: cover;
    top: 27.78%;
    left: 17.5%;
    position: absolute;
    z-index: 9;
}

.pizza {
    background-image: url(assets/screen2/pizza.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 9;
    width: 80px;
    height: 80px;
    top: 78.5%;
    left: 37%;
    
}

.pink-shape {
    width: 113px; /*171px*/
    height: 94px; /*143px*/;
    position: absolute;
    top: 33%;
    left: 18%;
    z-index: 8;
}

.pink-shape img, .blue-shape img {
    display: block;
    width: 100%;
}

.blue-shape {
    width: 83px; /*126px*/
    height: 62px; /*112px*/;
    position: absolute;
    top: 60%;
    left: 20%;
    z-index: 8;
}

.screen.s3 {
    background-color: #E694C0;
    padding-top: 1px;
}

.screen.s3 .column {
    width: 45%;
    margin: 15vh 2.5%;
    height: 70vh;
    float: left;
}

.screen.s3 .column.leta {
    color: #272125;
    background-image: url(assets/screen3/Group2.png);
    background-size: contain;
    background-position: top right;
    background-repeat: no-repeat;
    text-align: right;
}

.screen.s3 .column.leta .description {
    text-align: left;
    display: inline-block;
    position: relative;
    top: 30px;
    transform: translateX(-30%);
}

.screen.s3 .column .description h1 {
    font-size: 120px;
}

.screen.s3 .column .description h2 {
    font-size: 50px;
}

.screen.s3 .column .description p {
    font-size: 18px;
    line-height: 1.5;
}

.screen.s3 .column.gleb {
    color: #ffffff;
    background-image: url(assets/screen3/Group3.png);
    background-size: contain;
    background-position: top left;
    background-repeat: no-repeat;
}

.screen.s3 .column.gleb .description {
    text-align: right;
    display: inline-block;
    position: relative;
    bottom: 0px;
    transform: translate(31%, 55%);
}

.screen.s3 .column img {
    display: block;
    max-height: 100%;
    width: auto;
}

.column h1, .column h2, .column p {
    margin: 0;
    padding: 0;
}

.line.l3 {
    width: 1px;
    height: Calc(214px * 0.66);
    bottom: 0;
    left: Calc(212px * 0.66)
}

.screen.s4 {
    background-color: #1B509F;
    background-image: url(assets/screen4/location.svg);
    background-size: cover;
    background-position: top;
    color: #fff;
}

.centered-rect.dark {
    background-color: #272125;
    color: #fff;
    width: auto;
    height: auto;
    padding: 50px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    text-align: center;
    min-width: 35%;
    box-shadow: 0 0 0 15px #272125;
    overflow: hiddn;
}

.centered-rect.dark .bg-img {
    display: block;
    opacity: 0.5;
    position: absolute;
    z-index: 0;
    fill: red;
    object-fit: cover;
    object-position: center;
    left: 0;
    top: 0;
    transform: translate(-30.8%, -23%);
    width: 1350px;
    height: auto;
}

.centered-rect.dark h1 {
    margin: 0;
    padding: 0;
}

@media(min-width: 1920px) {
    /* right col*/
    nav ul {
        padding: 80px 0;
    }

    nav ul li {
        padding: 30px 10px;
    }

    .counter {
        margin-bottom: 30px;
    }

    .pgs {
        bottom: 30px;
    }

    /* screen1 */
    .message {
        top: 100px;
        left: 322px;
    }

    .message .content {
        transform: translate(-50%, -55%);
    }

    .message img {
        width: 657px;
        height: auto;
    }

    .message h1 {
        font-size: 100px;
    }

    .message h2 {
        font-size: 90px;
    }

    .message h2::after {
        top: 18px;
    }

    .message h3 {
        font-size: 68px;
    }

    /*screen 2*/
    .centered-rect {
        width: 52%;
        padding: 4%;
    }

    .centered-rect ul li {
        font-size: 26px;
        margin: 20px 0;
    }

    .centered-rect .time {
        font-size: 36px;
    }

    .centered-rect .bigger {
        font-size: 90px;
        transform: translateY(-50%) translateX(57%);
    }

    .player {
        width: 146px;
        height: 150px;
        top: 33%;
        left: 17%;
    }

    .pink-shape {
        top: 37.5%;
        width: 171px;
        height: auto;
        left: 17.75%;
    }

    .blue-shape {
        width: 126px;
        height: auto;
    }

    .pizza {
        width: 134px;
        height: 134px;
        top: 78%;
        left: 39%;
    }

    .line {
        width: 2px;
    }

    .line.l1 {
        left: 12%;
        height: 246px;
    }

    .line.l2 {
        right: 12%;
        height: 622px;
    }
    
    /* screen3 */
    .screen.s3 .column .description h2 {
        font-size: 80px;
    }

    .screen.s3 .column .description h1 {
        font-size: 200px;
    }

    .screen.s3 .column .description p {
        font-size: 30px;
    }

    .screen.s3 .column {
        width: 43%;
        margin: 15vh 3.5%;
    }

    .line.l3 {
        width: 2px;
        height: 214px;
        left: 12%;
    }
}